VITE_SUPABASE_URL=https://ycjccjvndgqtwertpfep.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljamNjanZuZGdxdHdlcnRwZmVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgzMTgxNzksImV4cCI6MjA4Mzg5NDE3OX0.PaXd5xDIhrC_llEyjJ9gyXj6pw6FSFa--nHEI-HBzvU
VITE_GEMINI_API_KEY=AIzaSyBWRiNeJHYbYB7r7n_DfgZa0xiTqAYeoew
