@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg text-text-main font-sans;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D4A373;
  /* Accent color */
  border-radius: 20px;
  border: 2px solid #F3F0EB;
  /* Matching bg for padding effect */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #C08C60;
}